* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

nav {
  overflow: hidden;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  z-index: 10;
  width: 100%;
}
.burger {
  display: none;
  visibility: hidden;
  position: absolute;
  right: -50px;
}

.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 101%;
}
.logo a img {
  height: 45px;
}

nav ul {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}

.logo > a > p {
  float: right;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

ul li {
  display: inline-block;
  list-style: none;
  text-transform: uppercase;
}

ul > li > a {
  text-decoration: none;
  color: white;
}

#intro-page {
  height: 100vh;
  background: linear-gradient(to top right, #4e3c3c, #864e4e);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.clock {
  height: 30%;
}

.intro-text {
  text-align: left;
}
.intro-main {
  color: white;
  font-size: 60px;
  letter-spacing: 15px;
}
.intro-sub {
  color: #efefef;
  letter-spacing: 2px;
}

.first-product {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: rgb(193, 185, 156);
}
.product-container {
  width: 50%;
  text-align: center;
  line-height: 2;
}
.product-container > h2 {
  font-size: 30px;
  text-transform: uppercase;
}
.product-container > h4 {
  font-size: 15px;
  color: rgb(41, 41, 41);
}
.product-container > h3 {
  font-size: 30px;
  color: #864e4e;
}

.description-container {
  width: 50%;
  display: flex;
  justify-items: center;
  background-color: black;
  height: 100%;
}

.description-container > div {
  width: 50%;
  margin: auto;
}

.quality {
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 10px;
  color: white;
}
.quality > span {
  color: #864e4e;
}

.quality-description {
  color: #bebebe;
}

button {
  color: white;
  background-color: #864e4e;
  border: none;
  font-size: 15px;
  cursor: pointer;
  padding: 10px 20px;
  margin-top: 20px;
}

.armchair {
  position: absolute;
  right: 55%;
  bottom: 0;
  height: 45%;
  transform: translate(50%, 0%);
}

.second-product {
  overflow: hidden;
  height: 90vh;
  display: flex;
  align-items: center;
  position: relative;
  background: linear-gradient(to right, #ededed, #b6aaaa);
}
.couch {
  width: 50%;
}

.couch-div {
  margin: auto;
  width: 75%;
}
.couch-div > h1 {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.couch-div > p {
  color: #313131;
}
.couch-img {
  height: 45%;
  position: absolute;
  top: 50%;
  right: -15%;
  transform: translate(0%, -50%);
}

footer {
  background-color: #4e3c3c;
  color: white;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
}

.social-links {
  display: flex;
  justify-content: space-around;
  width: 25%;
}

.social-links > img {
  height: 20px;
}

@media screen and (max-width: 900px) {
  nav ul {
    width: 40%;
  }
}

@media screen and (max-width: 840px) {
  .intro-main {
    font-size: 30px;
  }
  .intro-sub {
    font-size: 15px;
  }
  .armchair {
    height: 35%;
  }
  .couch-img {
    height: 35%;
  }
  .social-links {
    width: 30%;
  }
}

@media screen and (max-width: 640px) {
  .logo a img {
    height: 35px;
  }
  ul > li > a {
    font-size: 12px;
  }
  nav ul {
    width: 48%;
  }
  #intro-page {
    flex-direction: column;
    justify-content: center;
  }
  .intro-text {
    text-align: center;
    margin-bottom: 30px;
  }
  .clock {
    height: 25%;
  }
  .first-product {
    flex-direction: column;
    min-height: 100vh;
  }
  .product-container {
    margin-top: 50px;
    margin-bottom: 12rem;
    line-height: 1.5;
    width: 90%;
  }
  .product-container h2 {
    font-size: 20px;
  }
  .product-container h4 {
    font-size: 12px;
  }
  .product-container h3 {
    font-size: 20px;
  }

  .second-product {
    flex-direction: column;
  }
  .description-container {
    width: 100%;
    text-align: center;
    padding: 50px 0px;
  }
  .description-container > div {
    width: 90%;
  }
  .quality {
    font-size: 20px;
  }
  .armchair {
    height: 25%;
    position: absolute;
    left: 45%;
    bottom: 44%;
    transform: translate(-45%, -25%);
    margin-top: 30px;
  }
  .couch {
    width: 90%;
    text-align: center;
    margin: 50px 0px;
  }
  .couch-div {
    width: 100%;
  }
  .couch-img {
    height: 20%;
    transform: none;
    right: unset;
    top: unset;
    position: static;
  }
}

@media screen and (max-width: 400px) {
  .logo {
    height: 10vh;
  }
  .logo a {
    height: 75%;
  }
  nav {
    display: block;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
  nav.active {
    height: 100vh;
    background-color: rgba(0, 0, 0, 1);
  }
  ul {
    text-align: center;
    width: 100%;
    height: 50vh;
    display: block;
    flex-direction: column;
    visibility: hidden;
  }
  ul.active {
    visibility: visible;
  }
  nav ul {
    width: 100%;
  }
  li {
    padding: 10px;
    width: 100%;
  }
  .burger {
    visibility: visible;
    position: absolute;
    display: block;
    float: right;
    top: 5px;
    right: 0;
  }
  .intro-text {
    margin-bottom: 70px;
  }
  .social-links {
    width: 40%;
  }
}
