.products-title {
  text-align: center;
  margin: 50px 0;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 5;
  color: rgb(102, 102, 102);
}

.product-list {
  display: flex;
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: center;
}

.product-list img {
  height: 150px;
}

.product-list div {
  width: 45%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 30px;
  margin-bottom: 30px;
  box-shadow: 5px 8px 20px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  color: rgb(102, 102, 102);
}

.product-list div h3 {
  color: brown;
  font-size: 2em;
}

@media screen and (max-width: 750px) {
  h2 {
    font-size: 30px;
  }
  .product-list {
    width: 95%;
  }

  .product-list div {
    width: 47.5%;
  }
  .product-list > div:nth-child(1) {
    margin-right: 20px;
  }
  .product-list div:nth-child(2) {
    margin-right: 0;
  }
  .product-list > div:nth-child(3) {
    margin-right: 20px;
  }
  .product-list > div:nth-child(4) {
    margin-right: 0;
  }
  .product-list img {
    height: 130px;
  }

  @media screen and (max-width: 640px) {
    .products-title {
      margin: 30px 0;
    }
    .products-title h2 {
      font-size: 20px;
    }
    .product-list {
      flex-direction: column;
    }
    .product-list div {
      width: 100%;
    }
    .product-list > div:nth-child(1) {
      margin-right: unset;
    }
    .product-list div:nth-child(2) {
      margin-right: unset;
    }
    .product-list > div:nth-child(3) {
      margin-right: unset;
    }
    .product-list > div:nth-child(4) {
      margin-right: unset;
    }
  }
}

@media screen and (max-width: 400px) {
  .burger {
    display: block;
    visibility: visible;
    position: static;
  }
}
